#APane{
    -fx-tab-min-height: 100;
    -fx-tab-max-height: 100;
    -fx-tab-min-width: 20;
    -fx-tab-max-width: 20;
    -fx-padding: 0 -1 -1 0;
    -fx-background-color:#2d3436;
    -fx-border-radius: 5;

}
.radio-button .radio{
-fx-border-width     : 1px   ;
-fx-border-color     : #ffbe76 ;
-fx-background-color : #ffbe76 ;
-fx-background-image : null  ;
-fx-border-radius    : 15px  ;
}
.radio-button .radio:selected{
-fx-background-color : #ff7979 ;
-fx-background-image : null  ;
}
.radio-button -radio:armed{
-fx-background-color :#ffbe76 ;
-fx-background-image : null  ;
}
.radio-button -radio:determinate{
-fx-background-color : #ffbe76 ;
-fx-background-image : null  ;
}
.radio-button -radio:indeterminate{
-fx-background-color : #ffbe76 ;
-fx-background-image : null  ;
}

#cancel {
    -fx-background-color:#ffbe76;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-text-fill: #3D4855;
}

#cancel:hover {
  -fx-background-color: #f0932b;

}
.date-picker{

}

.date-cell{
-fx-background-color:#ffffff;
}

.date-picker > .arrow-button {
-fx-background-color: #ffbe76;
}

.date-picker-popup > * > .day-cell { 
    -fx-text-fill: black;
  }
.date-picker-popup > * > .today:focused { 
    -fx-background-color: #ffbe76;
    -fx-opacity:0.2;
}

.date-picker-popup > * > .selected { 
    -fx-background-color:  #ffbe76;
    -fx-background-radius:5 5 5 5;
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 4;
    -fx-background-color: #ffffff;
    -fx-background-radius:5 5 0 0;
}

.text-field {
 -fx-background-color: #2d3436;
 -fx-border-width: 0 0 2 0;
 -fx-border-color:#ffbe76;
 -fx-text-fill: #ecf0f1;
        
}
