.pane {
    -fx-tab-min-height: 100;
    -fx-tab-max-height: 100;
    -fx-tab-min-width: 20;
    -fx-tab-max-width: 20;
    -fx-padding: 0 -1 -1 0;
    -fx-background-color:#2d3436;
    -fx-border-radius: 5;
}

#adding:selected * {
-fx-image: url("img01.png");
  }

#viewing:selected *{
   -fx-image: url("img02.png");     
}

#add1 {
    -fx-background-color:#ffbe76;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-text-fill:  #2d3436;
}

#add1:hover{
	-fx-background-color:#f0932b;
}

#delete {
    -fx-background-color:#ffbe76;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-text-fill: #2d3436;
}
#delete:hover{
	-fx-background-color:#f0932b;
}

.table-view {
	-fx-background-radius: 2;
	-fx-table-cell-border-color: transparent;	
	-fx-focus-color: transparent;
	}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #ffbe76; 
 }
.table-column {
  -fx-alignment: CENTER;
  }

.table-row-cell:selected {
   -fx-background-color: #f0932b; 
   -fx-table-cell-border-color: transparent;	
     }
